@model Reservation

@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Areas/Members/Views/Shared/_UserLayout.cshtml";
}

<h1>NewReservation</h1>

@Html.DropDownListFor(x => x.Destination, (SelectList)ViewBag.Destinations)