
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .container{
            margin:80px;
            padding:20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="/PdfReport/StaticPdfReport/" class="link">Statik Pdf</a>
        <br />  <br />
        <a href="/PdfReport/StaticCustomerReport/" class="link"> Statik misafir Pdf</a>
    </div>
   
</body>
</html>
