
@{
    Layout = null;
}

<h1>
    Excel Raporları
</h1>
<br />
<a href="/Excel/StaticExcelReport/" class="btn btn-outline-primary">Rota Exel dosyası indir Servis ile</a>
<a href="/Excel/DestinationExcelReport/" class="btn btn-outline-primary">Rota Exel dosyası indir</a>