@{
    ViewData["Title"] = "Yorumlar";
    Layout = "~/Areas/Members/Views/Shared/_UserLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Yorumlarım</h6>
            </div>
            <div class="card-body">
                içerik
            </div>
        </div>
    </div>
</div>
