@model UserEditViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Members/Views/Shared/_UserLayout.cshtml";
}

<h1>Profil Düzenleme Sayfası</h1>
<form method="post" enctype="multipart/form-data"> 
     <label>Adınız</label>
     <input type="text" asp-for="Name" class="form-control" />
     <br />
      <label>Soaydınız</label>
     <input type="text" asp-for="Surname" class="form-control" />
     <br />
    <label>Mail Adresiniz</label>
    <input type="text" asp-for="Mail" class="form-control" />
    <br />
    <label>Şifre</label>
    <input type="text" asp-for="Password" class="form-control" />
    <br />
    <label>Şifre Tekrar</label>
    <input type="text" asp-for="ConfirmPassword" class="form-control" />
    <br />
    <label>Telefon Numarası</label>
    <input type="text" asp-for="PhoneNumber" class="form-control" />
    <br />
    <div class="form-group">
        <label>Resim Seç</label>
        <input type="file" asp-for="Image"/>
    </div>
    <br />
    <button class="btn btn-danger">Kaydet</button>
</form>

