@model List<AppRole>
@{
    ViewData["Title"] = "Rol İşlemleri";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>Rol Listesi</h1>
<hr />
<div class="container">
    @if (Model.Count > 0)
    {

        <table class="table table-hover">

            <tr>
                <th>#</th>
                <th>Rol Adı</th>
                <th>Rol Sil</th>
                <th>Rol Güncelle</th>
            </tr>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@item.Name</td>
                    <td><a href="/Admin/Role/DeleteRole/@item.Id" class="btn btn-sm btn-danger">Sil</a></td>
                    <td><a href="/Admin/Role/UpdateRole/@item.Id" class="btn btn-sm btn-info">Güncelle</a></td>
                </tr>

            }
        </table>


    }
    else
    {
        <div class="alert alert-warning">Şuanda gösterilecek bir Rol yok.</div>
    }
    <span><a href="/Admin/Role/CreateRole/" class="btn btn-primary">+ Yeni Rol Oluştur</a></span>
    <span><a href="/Admin/Role/UserList/" class="btn btn-warning">Kullanıcıya Rol Ata</a></span>



</div>