@model CreateGuideCommand
@{
    ViewData["Title"] = "AddGuide";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>MediatR Rehber Ekleme</h1>
<hr />
<div class="container">
    <form method="post">
        <div class="form-group mb-3">
            <label>Rehber Adı</label>
            <input type="text" class="form-control" asp-for="Name" />
        </div>
        <div class="form-group mb-3">
            <label>Açıklama</label>
            <input type="text" class="form-control" asp-for="Description" />
        </div>

        <div class="form-group mb-3">
            <button class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>
